<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.music_with_heart.dao.SearchMapper">
    <select id="search" parameterType="String" resultType="com.demo.music_with_heart.entity.Music">
        select * from music where song_name LIKE #{search} or singer_name LIKE #{search} or song_type LIKE #{search}
    </select>

    <select id="totalSearch" parameterType="String" resultType="Integer">
         select count(*) from music where song_name LIKE #{search} or singer_name LIKE #{search} or song_type LIKE #{search}
    </select>
</mapper>